<script type="text/javascript">
    RED.nodes.registerType('statistics', {
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: { value: "" },
            stripFunction: { value: false }
        },
        inputs: 1,
        outputs: 1,
        icon: "function.png",
        label: function() {
            return this.name || "statistics";
        }
    });
</script>

<script type="text/x-red" data-template-name="statistics">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-stripFunction"><i class="icon-tag"></i> Strip function from topic</label>
        <input type="checkbox" id="node-input-stripFunction" placeholder="Strip">
    </div>
</script>

<script type="text/x-red" data-help-name="statistics">
    <p>Calculates statistics about input data. This is a wrapper around the <a href="http://simplestatistics.org/">Simple Statistics</a> library.</p>
    <p>Expected <b>input</b> parameters (msg parameters): </p>
    <ul>
        <li>dataset - name of the dataset, if not present "data" will be used dataset is stored in node context</li>
        <li>payload:
            <ul>
                <li>value - value to add to the dataset</li>
                <li>
                    functions - array of objects or simple object of:
                    <ul>
                        <li>name - name of the function to do</li>
                        <li>parameter - parameter for the function</li>
                        <li>parameterX - next parameter for the function where X is the parameter number (for example parameter2 will be the second parameter for the function)</li>
                    </ul>
                    result of each function is output separately using node.send
                </li>
            </ul>
        </li>
        <li>topic - will be passed to the output as is plus "/" function name for each function </li>
    </ul>
    <p><b>Onput</b> format is msg with topic and payload set for each function </p>
    <p>
        The functions in the Simple Statistics library that are supported are:
        <ul>
           <li>min</li>
           <li>max</li>
           <li>sum</li>
           <li>sumSimple</li>
           <li>product</li>
           <li>minSorted</li>
           <li>maxSorted</li>
           <li>mean</li>
           <li>mode</li>
           <li>modeSorted</li>
           <li>median</li>
           <li>medianSorted</li>
           <li>harmonicMean</li>
           <li>geometricMean</li>
           <li>rootMeanSquare</li>
           <li>sampleSkewness</li>
           <li>variance</li>
           <li>sampleVariance</li>
           <li>standardDeviation</li>
           <li>sampleStandardDeviation</li>
           <li>medianAbsoluteDeviation</li>
           <li>interquartileRange</li>
           <li>shuffle</li>
           <li>shuffleInPlace</li>
           <li>uniqueCount</li>
           <li>uniqueCountSorted</li>
           <li>permutationsHeap</li>
           <li>quantile</li>
           <li>quantileSorted</li>
           <li>sumNthPowerDeviations</li>
           <li>sampleCorrelation</li>
           <li>sampleCovariance</li>
           <li>sample</li>
           <li>tTest</li>
           <li>ckmeans</li>uniqueCount
           <li>equalIntervalBreaks</li>
           <li>chunk</li>
           <li>combinations</li>
           <li>combinationsReplacement</li>
           <li>rSquared</li>
           <li>linearRegression</li>
           <li>bernoulliDistribution</li>
           <li>poissonDistribution</li>
           <li>cumulativeStdNormalProbability</li>
           <li>errorFunction</li>
           <li>inverseErrorFunction</li>
           <li>probit</li>
           <li>factorial</li>
           <li>linearRegressionLine</li>
           <li>binomialDistribution</li>
           <li>zScore</li>
        </ul>
        In addition, two other functions are implemented:
        <ul>
            <li>size - returns the size of the data set</li>
            <li>clear - clears the data set</li>
        </ul>
    </p>
</script>
